//
// Cards
// --------------------------------------------------

.card {
  position: relative;
  margin-bottom: 20px;
  padding: 2em;
  border: 1px solid #e5e5e5;
  border-top: 5px solid @primary;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  background: #fff;
}

.card--third{
	width: 30%;
	margin: 0 1.6% 20px 1.6%;
}