//
// footer classes
// --------------------------------------------------

footer{
	.padding--top-bottom;
	.bg-gray-darken;
	.text-center
}

footer img{
	.margin-bottom;
	width: 150px;
	 @media (min-width: 480px){ width: 180px; }
}

footer a{
	.fz-small;
	.margin-sides;
	.color-gray--xlight;
	@media (max-width: 480px){
		display: block;
		.margin-bottom--small;
	}
}