.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.rectangle-small{
	height: 150px;
}
.rectangle{
	height: 300px;
}


.logo{
	width: 80px;
	@media (min-width: @screen-md){ width: 130px; }
}

.height-line{
	height: 30px;
 }

 .img-slide{
 	height: 20px;
 	margin-top: 94px;
 	.margin-sides--small;
 }

.img-contacto{
	@media (max-width:480px){ width: 280px; }
	@media (min-width:481px){ width: 250px; }
}