//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}


// -------------------------
.width-100{ width: 100%}
.width-50{ width: 50%}
.width-40{ width: 40%}
.width-30{ width: 30%}
.width-20{ width: 20%}
.width-10{ width: 10%}


// Color
// -------------------------
.color-primary { color: @primary; } 
.color-gray { color: @gray; } 
.color-light { color: @light; }

.bg-primary{ background-color: @primary;}
.bg-light { background-color: @light }
.bg-gray { background-color: @gray; } 
.bg-gray-darken { background-color: darken(@gray, 10%); } 


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}
